.tea{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: rgb(119, 119, 126);
}

p:hover {
    color: rgb(44, 216, 199);
}

img {
 width: 9em;
 height: 7em;
}


.box1 {
    color: aliceblue;
}

/*Dark Mode*/
.dark-mode {
    background-color: black;
    color: white;
}
