.tea{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: rgb(55, 55, 58);
}

p:hover {
    color: rgb(38, 163, 151);
}

img {
 width: 9em;
 height: 7em;
}

/*Dark Mode*/
.dark-mode {
    background-color: black;
    color: white;
}
